@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url('./assets/PressStart2P-Regular.ttf');
}

div.stop-dragging
{
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}