@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url('./assets/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: dalmoori;
  src: url('./assets/dalmoori.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #404040;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

div.stop-dragging {
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
