@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url('./assets/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: dalmoori;
  src: url('./assets/dalmoori.ttf');
  unicode-range: U+AC00-D7A3;
}

body, html, #root {
  height: 100%;
  width: 100%;
}

div.stop-dragging
{
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div.text-stroke {
  text-shadow:
          /*-4px -4px 0 #000;*/
          /*4px -4px 0 #000,*/
          /*-4px 4px 0 #000,*/
          3px 3px 0 #000;
}
